<h1 class="font-serif text-xl">Most Recent Posts</h1>
<ul>
<% @most_recent_articles.each do |article| %>
  <li>
    <%= link_to article_path(article), class: 'underline' do %>
      <%= article.title %> -- <%= article.most_recent_stat.page_views_count %> Views
    <% end %>
  </li>
<% end %>
</ul>

<div data-controller="expandable-list">
  <h1 class="font-serif text-xl" data-action="click->expandable-list#toggle">Articles This Month</h1>
  <ul data-expandable-list-target="list">
    <% @articles_this_month.each do |article| %>
      <li>
        <%= link_to article_path(article), class: 'underline' do %>
          <%= article.title %> -- <%= article.most_recent_stat.page_views_count %> Views
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
