<div class="py-2">
  <h1 class="py-1 text-xl font-bold text-center text-white rounded-t-lg bg-blurple-light">Most Recent Posts</h1>
  <ul class="p-2 rounded-b-lg bg-blurple-lighter">
    <%= render partial: 'article_list_item', collection: @most_recent_articles, as: :article %>
  </ul>
</div>

<%= render 'expandable_content', locals: { title: 'Articles This Month' } do %>
  <%= render partial: 'article_list_item', collection: @articles_this_month, as: :article %>
<% end %>

<%= render 'expandable_content', locals: { title: 'Previous 3 Months' } do %>
  <%= render partial: 'article_list_item', collection: @articles_in_preview_3_months, as: :article %>
<% end %>

<%= render 'expandable_content', locals: { title: 'Older Articles' } do %>
  <%= render partial: 'article_list_item', collection: @older_articles, as: :article %>
<% end %>
