<%= render 'graph_title', title: presenter.article.title %>

<% if presenter.article.cover_image %>
  <%= image_tag presenter.article.cover_image %>
<% end %>

<div id="spacer" class="flex-grow"></div>


<div class="self-start ">
<p class="inline-block p-3 text-white rounded-full bg-blurple-lighter">
  Select a Date
  <%= render 'icons/calendar', icon_class: 'h-5 w-5 inline-block' %>
</p>
<%= link_to 'Reset', nil, class: 'pl-3 inline-block dark:text-white' %>
</div>

<div id="spacer" class="flex-grow"></div>

<%= content_tag(:input, nil, type: 'text', name: 'range', class: 'hidden',
                data: {
                  controller: "flatpickr",
                  flatpickr_mode: "range",
                  flatpickr_date_format: "Y-m-d",
                  flatpickr_alt_input: true,
                  flatpickr_alt_format: "F d Y",
                  flatpickr_min_date: presenter.min_start_at.iso8601,
                  flatpickr_max_date: presenter.max_end_at.iso8601,
                  flatpickr_default_date: "#{presenter.start_at.iso8601} to #{presenter.end_at.iso8601}"
                }) %>


<%= yield %>

<div id="spacer" class="flex-grow"></div>

<%= render 'graph_nav_footer', local_assigns %>
