<%= render 'graph_title', title: local_assigns[:article].title %>

<% if local_assigns[:article].cover_image %>
  <%= image_tag local_assigns[:article].cover_image %>
<% end %>
<div id="spacer" class="flex-grow"></div>


<%= yield %>

<%= render 'tweet_article', article: local_assigns[:article] %>

<div id="spacer" class="flex-grow"></div>

<%= render 'graph_nav_footer', active: local_assigns[:active], article: local_assigns[:article] %>
