<!DOCTYPE html>
<html class="min-h-screen px-3" data-controller="dark-mode" data-dark-mode-target="html" data-dark-mode-dark-enabled-value="true">
  <head>
    <title>DevtoViewCountGraphs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

    <meta name="viewport" content="width=device-width">
  </head>

  <body class="flex flex-col items-center w-full min-h-screen dark:bg-dark">
    <%= render 'header' %>

    <div class="flex flex-col flex-grow w-full max-w-screen-sm">
      <%= yield %>
    </div>
  </body>
</html>
