<!DOCTYPE html>
<html class="flex flex-col items-center h-full">
  <head>
    <title>DevtoViewCountGraphs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

    <meta name="viewport" content="width=device-width">
  </head>

  <body class="flex flex-col flex-1 h-full p-3 max-w-screen-sm">
    <%= yield %>
  </body>
</html>
